<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ExeCRUDWindowsForm.Properties.Settings.RRQConnectionString"
            connectionString="Data Source=DESKTOP-MRO5DE7;Initial Catalog=RRQ;Persist Security Info=True;User ID=sa;Password=7901"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>